@import '../../variables';

.about-page {
  padding: 1rem 4rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  color: $text-color;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.horizontal-line {
  width: 100%;
  border-color: $primary-color;
}

.skills-icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  row-gap: 1.75rem;
  column-gap: 2.25rem;
}

@media (max-width: 600px) {
  .about-page {
    padding: 1rem 1rem;
  }
}
