@import '../../variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  max-width: 1000px;
  padding: 1rem 4rem;
  color: $text-color;
}

.nav-link {
  text-decoration: none;
  color: $text-color;
}

.nav-bar {
  display: flex;
  gap: 2rem;
  font-size: 22px;
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 1rem 1rem;
  }
}
