@import '../../variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  max-width: 1000px;
  padding: 1rem 4rem;
  color: $text-color;
}

.nav-link {
  text-decoration: none;
  color: $text-color;
  margin-left: 2rem;
  font-size: 22px;
  transition: color 0.2s ease;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: $primary-color;
    transition: width 0.3s ease;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover {
    color: $primary-color;
  }
}

.logo {
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  color: $primary-color;

  &:hover {
    color: $text-color;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 1rem 1rem;
  }
}
