@import '../../variables';

.footer {
  background-color: $secondary-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-icons-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

svg:hover {
  fill: $primary-color;
}

@media (max-width: 600px) {
  .footer {
    padding: 2rem 1rem;
  }
}
