$background-color: #121827;
$primary-color: #ffb701;
$secondary-color: #1f2937;
$text-color: #ffffff;
$text-color-secondary: #a6abb3;
$color-gray: #4b5563;
$font-stack-primary: 'Open Sans', sans-serif;
