@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $font-stack-primary;
  display: flex;
  flex-direction: column;
}

.text-primary-color {
  color: $primary-color;
}

.page {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
}

.text {
  text-align: center;
}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
}

.button-primary {
  background-color: $primary-color;
  color: $text-color;
}

@media (max-width: 600px) {
  .page {
    padding: 1rem 1rem;
  }
}
